{% extends 'base.html.twig' %}

{% block title %}Principal{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi neque numquam obcaecati odit quasi qui quia quod tempora vero. Aliquam cum cupiditate eum minima praesentium quidem quos. Similique, voluptatem!
        </div>
    </div>
{% endblock %}
